html {
	font-size: 62.5%;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.6rem;
	/*background-color: #9bffc0;*/
	background-color: #9ef7ad;
	/*background-color: #CCFFC4;*/
	/*background-color: #dcf2b0;*/
	color: #124705;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: 'Crimson Text', serif;
	font-size: 6rem;
	line-height: 1;
}

h2 { font-size: 3rem; }

/* Navigation */

.flex-container {
	display: flex;
	justify-content: space-around;
}

nav {
	align-items: center;
}

.icon-logo {
	width: 12.5rem;
	height: 9rem;
	margin: 2rem;
	fill: #fa4659;
}

nav .flex-container {
	width: 50rem;
	justify-content: space-between;
	margin-right: 10rem;
}

a {
	text-decoration: none;
	color: #124705;
}

a:hover {
	opacity: 0.7;
}

/* Main */

main {
	max-width: 130rem;
	margin: 0 auto;
}

/* Footer */

footer .icon {
	height: 4rem;
	width: 4rem;
	fill: #ecffe5;
}

.icon-container {
	width: 30rem;
	margin: 0 auto;
}

footer p {
	text-align: center;
	margin: 2rem;
}











/*main .flex-container {
	max-width: 	130rem;
	margin: 0 auto;
}

.art .img-container {
	width: 25%;
}

.art .img-container:nth-of-type(even) {
	width: 20%;
}
*/
/*.glass .flex-container {
	flex-wrap: wrap;
	height: 357px;
	width: 40rem;
}*/

/*.glass .flex-container {
	height: 33rem;
	justify-content: flex-start;
	margin: 0;
}



img:nth-of-type(2) {
	height: 100%;
	width: 100%;
}*/





/*.flex-container:first-of-type {
	height: 500px;
	width: 1200px;
}

.img-container:first-of-type {
	height: 100%;
	width: 100%;
}

.img-container:nth-of-type(2) {
	width: 120%;
	height: 489.355px;
	width: 130%; 
}
*/
