html {
	font-size: 62.5%;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.6rem;
	/*background-color: #9bffc0;*/
	background-color: #9ef7ad;
	/*background-color: #CCFFC4;*/
	/*background-color: #dcf2b0;*/
	color: #124705;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: 'Crimson Text', serif;
	font-size: 6rem;
	line-height: 1;
}

h2 { font-size: 3rem; }


/* Navigation */

header,
.icon-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

section .flex-container {
	display: block;
}

.contact {
	background-color: #ecffe5;
	padding: 1rem;
	border: 1px solid #124705;
	border-radius: 6px;
}

/*nav {
	align-items: center;
}*/

nav .flex-container {
	/*width: 50rem;*/
	justify-content: space-between;
	/*margin-right: 10rem;*/
}

.icon-logo {
	width: 12.5rem;
	height: 9rem;
	margin: 2rem;
	fill: #fa4659;
}

.toggle-btn {
    border: none;
    background-color: #9ef7ad;
    outline: none;
}

.toggle-btn:hover {
    cursor: pointer;
}

svg rect {
    fill: #124705;
}

a {
	text-decoration: none;
	color: #124705;
}

a:hover {
	opacity: 0.7;
}

.contact:hover {
	opacity: 1;
	background-color: #124705;
	color: #ecffe5;
	font-weight: bolder;
}

.bar {
	width: 80vw;
	height: 1px;
	border-bottom: 1px solid #124705;
	margin: 0 auto;
	margin-bottom: 2rem;
}


/* Main */

h1, h2{
	margin: 2rem;
}

section.flex-container p {
	margin: 0 2rem;
}

.box-container:last-of-type {
	display: flex;
	justify-content: space-between;
}

.box-container:last-of-type .box {
	width: 49%;
}

.box-container:first-of-type .box:last-of-type {
	margin-bottom: 0;
}

.box-container:last-of-type .box:last-of-type {
	margin-left: 0;
}

.box {
	margin: 2rem;
	padding: 3rem;
	border: 1px solid #124705;
	background-color: #ecffe5;
}

.box ul {
	list-style-type: circle;
}

.box li {
	margin-left: 3rem;
}

.heading {
	width: 90vw;
	text-align: center;
	padding: 1rem 0;
	margin: 0 auto;
	background-color: #ecffea;
}

.heading {
	margin-top: 3rem;
}

/* Footer */

footer .icon,
.icon-container {
	height: 4rem;
	width: 4rem;
	fill: #ecffe5;
}

.icon-container {
	width: 30rem;
	margin: 0 auto;
}

footer p {
	text-align: center;
	margin: 2rem;
}




@media only screen and (min-width: 600px){
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2rem;
	}

	main {
		max-width: 130rem;
		margin: 0 auto;
	}

	.flex-container {
		display: flex;
	}

	main section .img-container {
		order: 1;
	}

	.box-container:first-of-type .box:first-of-type {
		margin-bottom: 0;
	}

	.box {
		width: 49%;
		height: 25rem;
	}

	.box-container .box:last-of-type {
		margin-left: 0;
	}


}

@media only screen and (min-width: 900px){
	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3rem;
	}

	.box{
		height: 22rem;
	}
}






/*

.art .img-container {
	width: 25%;
}

.art .img-container:nth-of-type(even) {
	width: 20%;
}
*/
/*.glass .flex-container {
	flex-wrap: wrap;
	height: 357px;
	width: 40rem;
}*/

/*.glass .flex-container {
	height: 33rem;
	justify-content: flex-start;
	margin: 0;
}



img:nth-of-type(2) {
	height: 100%;
	width: 100%;
}*/





/*.flex-container:first-of-type {
	height: 500px;
	width: 1200px;
}

.img-container:first-of-type {
	height: 100%;
	width: 100%;
}

.img-container:nth-of-type(2) {
	width: 120%;
	height: 489.355px;
	width: 130%; 
}
*/
